
.main-sidebar {
  background-color: #afacce;
  .sidebar-menu > li {
    &.menu-open > a {
      background-color: #545087;
    }
    > a {
      color: #fff;
      font-weight: 600;
    }
  }
  .treeview-menu > li > a {
    color: #fff;
  }
}
